.container-output {
  margin: 0 20px;
  max-width: 900px;
  max-height: 300px;
}

.output {
  margin: 10px;
  max-height: 200px;
  font-family: "Courier New", Courier, monospace;
  line-height: 15px;
  white-space: pre-wrap;
  overflow-y: scroll;
}

.output-error {
  color: red;
}
