.container-variables {
  margin: 20px auto;
  padding: 20px;
  width: 500px;
  height: 460px;
  text-align: center;
  overflow-y: hidden;
}

.variables {
  padding: 0 0 200px 0;
  height: 600px;
  overflow-y: scroll;
}
