.variable {
  margin: 20px;
  padding: 40px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  border-radius: 20px;
}

.variable-form-control {
  width: 8em;
}
